[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python manage.py runserver"
test = "python manage.py test -k"
lint = "pylint --load-plugins pylint_django polls"
coverage = "coverage run manage.py test -k"
autopep = "autopep8 -i -a -a"

[dev-packages]
pylint = "*"
pylint-django = "*"
pep8 = "*"
autopep8 = "*"
pycodestyle = "*"
coverage = "*"

[packages]
django = "==3.0.3"

[requires]
python_version = "3.7"
