[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "python manage.py runserver"
test = "python manage.py test -k"
lint = "pylint --load-plugins pylint_django mealdelivery"
coverage = "coverage run manage.py test.unit"
autopep = "autopep8 -i -a -a"

[dev-packages]
pylint = "*"
pylint-django = "*"
pep8 = "*"
autopep8 = "*"
pycodestyle = "*"
coverage = "*"
freezegun = "==0.3.13"
mock = "*"

[packages]
celery = "*"
django = "==3.0.3"
django-crispy-forms = "*"
django-bootstrap4 = "*"
redis = "*"
slackclient = "*"

[requires]
python_version = "3.7"
