{% extends "base.html" %}

{% load static %}

{% block bodyblock %}
  <div class="card mb-3">
   <div class="card-header">
     <i class="fa fa-table"></i>Menus Selected</div>
   <div class="card-body">
     <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         <thead>
           <tr>
             <th>Employee</th>
             <th>Menu Date</th>
             <th>Option Selected</th>
             <th>Customization</th>
           </tr>
         </thead>
         <tbody>
           {% if menus %}
            {% for menu in menus %}
             <tr>
               <td>{{ menu.employee }}</td>
               <td>{{ menu.menu_date }}</td>
               <td>{{ menu.option_selected }}</td>
               <td>{% if menu.customization %}{{menu.customization}}{% else %}-{% endif %}</td>
             </tr>
            {% endfor %}
           {% else %}
             <tr>
               <p>No Menus Selected</p>
             </tr>
           {% endif %}
         </tbody>
       </table>
     </div>
   </div>
  </div>
{% endblock %}
