{% extends "base.html" %}

{% load static %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block bodyblock %}
  <div class="container">
    <form class="form-group" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" name="Cambiar" class="btn btn-success">Cambiar</button>
    </form>
  </div>
{% endblock %}
